* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


/* utili */

.p-10 {
  padding: 10px;
}

.m-20 {
  margin-top: 20px;
}

.p-top {
  padding-top: 20px;
}

.m-top40 {
  margin-top: 40px;
}

.d-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.a-center {
  text-align: center;
}

.size {
  font-size: 70px;
}

.s-around {
  justify-content: space-around;
}

.p-5 {
  padding: 5px;
}

.c-white {
  color: white;
}

.bg-blue {
  background-color: rgb(16, 16, 235);
}

.a-end {
  text-align: end;
}

.content-end {
  justify-content: end;
}

.b-color {
  background-color: black;
}


.m-top {
  margin-top: 10px;
}

.i-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.p-20 {
  padding: 20px;
}

/* Header */


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.left-50 {
  width: 50%;
}

.right-50 {
  width: 50%;
}

/* Main */

h1 {
  padding-top: 40px;
  font-size: 75px;
}

button {
  padding: 8px;

}

ul {
  list-style-type: none
}

li {
  list-style-type: none
}


.c-tabella li {
  padding: 20px;
}

.divisore {
  padding: 50px;
}


.cima {
  background-color: lightblue;
  padding: 80px 0 50px 0
}

.colonne {
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  width: 100%;

}

.jumbo {
  width: 100%;

}

.p {
  width: 60%;
  height: auto;
  display: block
}


.click {
  gap: 20px;
}

.colonne-t {
  gap: 30px;
}

.c-tabella {
  width: calc(100% / 3 - 30px);
  background-color: white;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.boder {
  border: 2px lightgray solid;
}

.tabella-sotto {
  width: 1172px;
  background-color: white;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.partner {
  width: 600px;
  height: 500px;
}

.border {
  border: 2px black dotted;
}

.colonna {
  width: calc((100% - 40px) / 3);
  position: relative;
  width: 300px;

}

.i-piccole {
  width: 100%;
}